<!DOCTYPE HTML>
<html>
  {% include head.html %}
  <body class="no-sidebar">
  
    <!-- Header -->
      <header id="header" class="skel-layers-fixed">
      {% include header.html %}
      </header>

		<article id="main" class="post">
		    <header class="special container">
		        <h2>{{ page.title }}</h2>
		        {% if page.icon %}<span class="icon {{ page.icon }}"></span>{% endif %}
		        <span>{{ page.date | date: "%-d %B %Y" }}</span>
		    </header>        
		    <section class="wrapper style4 container">
		        <div class="content">
		            <section>
		            {{ content }}
		            </section>
		        </div>
		    </section>
		</article>

      {% include footer.html %}

  </body>
</html>
